#wrapper1, #wrapper2,#wrapper2a{ 
    border: none 0px RED;
    overflow-x: scroll; overflow-y:hidden;
}
    #wrapper1{height: 20px; }
    #wrapper2{height: 230px; }
    #wrapper2a{height: 630px; }
    #div1 {width:3000px; height: 20px; }
    #div2 {width:3000px; height: 500px; 
   }
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    content: "\f067"; 
}
a{
    text-decoration: none;
}
.modal-dialog {
    width: auto;
    max-width: 600px;
  }
  .modal-body{
      font-size: 14px;
  }
  .btn{
      height:35px;
  }
  .size{
    border:none;
    height:40px;
    width:40px;
    border-radius:5px;
}
.card1{
    width: 40%;
    height: 350px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 300px;
  }
th{
    font-size:13px;
    background-color: #BFCCD3;
}

tr:nth-child(even){
    background-color:white;
  }
tr:nth-child(odd){
      background-color: #f9f9f9;
  }
  