<app-index></app-index>
<div class="container-fluid py-3">
  <div id="accordion" class="accordion">
    <div class="card mb-0">
      <div class="card-header " data-toggle="collapse" href="#collapseOne">
        <a class="card-title"> Badging History </a>
      </div>
      <div id="collapseOne" class="card-body collapse show" data-parent="#accordion">
        <div class="row ml-1">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
          <p class="ml-3 mt-1">Export options:</p>
          <a href="#"><i class="fa fa-file-text-o text-info ml-2 mt-2" aria-hidden="true"> CSV</i></a>
          <a href="#"><i class="fa fa-file-excel-o text-info pl-3 mt-2" aria-hidden="true"> Xls</i></a>
          <a href="#"><i class="fa fa-file-pdf-o text-info pl-3 mt-2" aria-hidden="true"> pdf</i></a>
          <button class="ml-auto size" tooltip="clear" placement="bottom">
            <img src="\assets\clear-filters-16.png" width="15" height="15" /></button>
          <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 30, 100]">
          </mat-paginator>
        </div>
        <div id="wrapper1">
          <div id="div1">
          </div>
      </div>
      <div id="wrapper2">
          <div id="div2">
                <table class="table  table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col">Sign-In</th>
                  <th scope="col">Sign-Out</th>
                  <th scope="col">Event Type</th>
                  <th scope="col">Rep Information</th>
                  <th scope="col">Company</th>
                  <th scope="col">Message</th>
                  <th scope="col">Department</th>
                  <th scope="col">Sign-In Location</th>
                  <th scope="col">Sign-In Point Of Entry</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Purpose Of Visit</th>
                  <th scope="col">Company Status</th>
                  <th scope="col">Rep Status</th>
                  <th scope="col">Signed In By</th>
                  <th scope="col">Rules Enforced?</th>
                </tr>
                <tr>
                  <th scope="col">
                  </th>
                  <th scope="col">
                  </th>
                  <th scope="col"> <select class="custom-select">
                      <option value="0">ALL</option>
                      <option value="1">printed on-site</option>
                      <option value="2">Printed remotely</option>
                      <option value="3">SignIn event</option>
                      <option value="4">Guest Pass</option>
                      <option value="5">Digitally Printed</option>
                    </select></th>
                  <th scope="col"><input type="text" placeholder="Rep Information" /></th>
                  <th scope="col"><input type="text" placeholder="Company" /></th>
                  <th scope="col"><input type="text" placeholder="Message" /></th>
                  <th scope="col"><input type="text" placeholder="Department" /></th>
                  <th scope="col"><input type="text" placeholder="Sign-In Location" /></th>
                  <th scope="col"><input type="text" placeholder="Sign-In Point Of Entry" /></th>
                  <th scope="col"><input type="text" placeholder="Contact" /></th>
                  <th scope="col"><input type="text" placeholder="Purpose Of Visit" /></th>
                  <th scope="col"><select class="custom-select">
                      <option value="0">ALL</option>
                      <option value="1">Registered</option>
                      <option value="2">Unregistered</option>
                    </select></th>
                  <th scope="col"><select class="custom-select">
                      <option value="0">ALL</option>
                      <option value="1">Active</option>
                      <option value="2">Inactive</option>
                    </select></th>
                  <th scope="col"><input type="text" placeholder="Signed In By" /></th>
                  <th scope="col"><select class="custom-select">
                      <option value="0">ALL</option>
                      <option value="1">True</option>
                      <option value="2">False</option>
                    </select></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#">Jul 05, 2016 01:33 AM</a></td>
                  <td><a href="#">Jul 05, 2016 11:10 AM</a></td>
                  <td>ALL</td>
                  <td><a href="#">Tina Johansen</a><br>
                    514349103<br>
                    <a href="#">tina.johansen@vendormate.com</a><br>
                    404-995-4768</td>
                  <td><a href="#">Vendormate, Inc</a></td>
                  <td><a href="#">Thank you for participating in the</a></td>
                  <td>Accounting</td>
                  <td>Beaches Primary Care Clinic</td>
                  <td>East street</td>
                  <td>FRED KALOMBO</td>
                  <td>Admin</td>
                  <td>Registered</td>
                  <td></td>
                  <td><a href="#">johnsonmemorial@vendormate.com.vm</a></td>
                  <td>
                    True</td>
                </tr>
                <tr>
                  <td><a href="#">Jul 05, 2016 01:33 AM</a></td>
                  <td><a href="#">Jul 05, 2016 11:10 AM</a></td>
                  <td>ALL</td>
                  <td><a href="#">Bill Hayes</a><br>
                    514349103<br>
                    <a href="#">bill.hayes@vendormate.com</a><br>
                    404-995-4768</td>
                  <td><a href="#">Vendormatec</a></td>
                  <td><a href="#">Thank you for participating in the</a></td>
                  <td>Accounting</td>
                  <td>Beaches Primary Care Clinic</td>
                  <td>East street</td>
                  <td>FRED KALOMBO</td>
                  <td>Admin</td>
                  <td>Registered</td>
                  <td></td>
                  <td><a href="#">johnsonmemorial@vendormate.com.vm</a></td>
                  <td>
                    True</td>
                </tr>
                <tr>
                  <td><a href="#">Jul 05, 2016 01:33 AM</a></td>
                  <td><a href="#">Jul 05, 2016 11:10 AM</a></td>
                  <td>ALL</td>
                  <td><a href="#">Mike Ulven</a><br>
                    514349103<br>
                    <a href="#">mike@abbot.com</a><br>
                    404-949-1333</td>
                  <td><a href="#">Abbot</a></td>
                  <td><a href="#">Thank you for participating in the</a></td>
                  <td>MaterialsManagement</td>
                  <td>BeachesPrimaryCareClinic</td>
                  <td>FrontDesk</td>
                  <td>StuartSeiler</td>
                  <td>Admin</td>
                  <td>Registered</td>
                  <td></td>
                  <td><a href="#">johnsonmemorial@vendormate.com.vm</a></td>
                  <td>
                    True</td>
                </tr>
                <tr>
                  <td><a href="#">Jul 05, 2016 01:33 AM</a></td>
                  <td><a href="#">Jul 05, 2016 11:10 AM</a></td>
                  <td>ALL</td>
                  <td><a href="#">Mike Ulven</a><br>
                    514349103<br>
                    <a href="#">mike@abbot.com</a><br>
                    404-949-1333</td>
                  <td><a href="#">Abbot</a></td>
                  <td><a href="#">Thank you for participating in the</a></td>
                  <td>MaterialsManagement</td>
                  <td>BeachesPrimaryCareClinic</td>
                  <td>FrontDesk</td>
                  <td>StuartSeiler</td>
                  <td>Admin</td>
                  <td>Registered</td>
                  <td></td>
                  <td><a href="#">johnsonmemorial@vendormate.com.vm</a></td>
                  <td>
                    True</td>
                </tr>
                <tr>
                  <td><a href="#">Jul 05, 2016 01:33 AM</a></td>
                  <td><a href="#">Jul 05, 2016 11:10 AM</a></td>
                  <td>ALL</td>
                  <td><a href="#">Tina Johansen</a><br>
                    514349103<br>
                    <a href="#">tina.johansen@vendormate.com</a><br>
                    404-995-4768</td>
                  <td><a href="#">Vendormate, Inc</a></td>
                  <td><a href="#">Thank you for participating in the</a></td>
                  <td>Accounting</td>
                  <td>Beaches Primary Care Clinic</td>
                  <td>East street</td>
                  <td>FRED KALOMBO</td>
                  <td>Admin</td>
                  <td>Registered</td>
                  <td></td>
                  <td><a href="#">johnsonmemorial@vendormate.com.vm</a></td>
                  <td>
                    True</td>
                </tr>
                <tr>
                  <td><a href="#">Jul 05, 2016 01:33 AM</a></td>
                  <td><a href="#">Jul 05, 2016 11:10 AM</a></td>
                  <td>ALL</td>
                  <td><a href="#">Mike Ulven</a><br>
                    514349103<br>
                    <a href="#">mike@abbot.com</a><br>
                    404-949-1333</td>
                  <td><a href="#">Abbot</a></td>
                  <td><a href="#">Thank you for participating in the</a></td>
                  <td>MaterialsManagement</td>
                  <td>BeachesPrimaryCareClinic</td>
                  <td>FrontDesk</td>
                  <td>StuartSeiler</td>
                  <td>Admin</td>
                  <td>Registered</td>
                  <td></td>
                  <td><a href="#">johnsonmemorial@vendormate.com.vm</a></td>
                  <td>
                    True</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row ml-1">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
          <p class="ml-3 mt-1">Export options:</p>
          <a href="#"><i class="fa fa-file-text-o text-info ml-2 mt-2" aria-hidden="true"> CSV</i></a>
          <a href="#"><i class="fa fa-file-excel-o text-info pl-3 mt-2" aria-hidden="true"> Xls</i></a>
          <a href="#"><i class="fa fa-file-pdf-o text-info pl-3 mt-2" aria-hidden="true"> pdf</i></a>
          <button class="ml-auto  size" tooltip="clear" placement="bottom">
            <img src="\assets\clear-filters-16.png" width="15" height="15" /></button>
          <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 30, 100]">
          </mat-paginator>
        </div>
      </div>
    </div>