<app-index></app-index>
<a href="#" class="m-3" routerLink="/reps">back to Rep List</a>
<fieldset class="scheduler-border">
  <legend class="scheduler-border">Rep Info</legend>
  <h5 class="ml-1">Tina Johansen</h5>
  <div>
  <div class="row">
     <label class="col-sm-2"><b>Employer</b></label>
    <a class="col-sm-3" href="#">Vendormate, Inc</a></div>
 <div class="row">
  <label class="col-sm-2"><b>Email</b></label>
  <p class="col-sm-3">tina.johansen@vendormate.com</p>
 </div>
<div class="row">
  <label class="col-sm-2"><b>Phone</b></label>
  <p class="col-sm-3"> 404-995-4768</p>
</div>  
<div class="row">
  <label class="col-sm-2"><b>Title</b></label>
  <p class="col-sm-3">Manager, Sales Development</p>
</div>
 <div class="row">
  <label class="col-sm-2"><b>Vendor Tier Level</b></label>
  <p class="col-sm-3"> High</p>
 </div>
 <img src="\assets\badgePhoto.jpeg"/></div>
</fieldset>