<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="\assets\ghx_logo.jpg"/></a>
    <ul class="nav navbar-nav menu-item mr-auto">
        <li class="nav-item"> 
            <h4 class="text-light">Vendormate Credentialing</h4>
          </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Brain
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>  
          <li class="nav-item dropdown">
<a href="#"><i class="fa fa-th m-3"  aria-hidden="true"></i></a>
        </li>  
<li class="nav-item dropdown">
  <a href="#"><i class="nav-link fa fa-desktop mx-3 mt-2"  aria-hidden="true"></i></a>  
</li>
<li class="nav-item">
    <a class="nav-link text-light" href="">Help</a></li>
    </ul>
</nav>
<nav class="navbar navbar-expand-lg secondnav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-warning" routerLink="/home" routerLinkActive="active" href="#">Home</a>
        </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Vendors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Reps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Manage Users</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-light" href="#">Reports</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-light" href="#">Badging History</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-light" href="#">Appoinments</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-light" href="#">Sign-In a Rep</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-light" href="#">Resource Center</a>
          </li>
    </ul>
    <ul class="navbar-nav">
        <form class="form-inline">
           <img class="position-absolute mx-auto" src="\assets\search-white.png"/> 
            <input class="form-control h-75 " type="search" placeholder="Search for vendors & rep" aria-label="Search">
            <a class="nav-link text-light" href="#"><i class="fa fa-cog ml-2"></i>Actions</a>
          </form>
        </ul>
</div>
</nav>

