.secondnav{
    background-color: #484848;
    max-height: 40px;
    font-size: 14px;
}
nav {
    background-color: #636363;
}
i{
    color:white;
}
a:hover{
    color: #ffbb33 !important;
}
.form-control{
    background-color:  #636363;
}
.form-control:focus{
    background-color: white;
}
.dropbtn {
    color: white;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
      margin-top: 1px;
      margin-left:-180px;
    width:260px !important;
    display: none;
    position: absolute;
    
    background-color: #636363;
    
  }
  
  .dropdown-content a {
    color: white ;
       text-decoration: none;
    display: block;
    font-family:"Source Sans Pro" sans-serif;
    padding:10px 50px 10px 25px;
font-size:13px;
  }
  
  .dropdown-content a:hover {background-color: #484848;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #484848;}
  
  h6{
font-family:"Source Sans Pro" sans-serif;
font-size:14px;
color:#AAAAAA;


  }
  hr{
   background-color:#AAAAAA;
 height:1px;
 border:none;
  }
  
