.image{
  height:50px;
}
.secondnav{
    background-color: #484848;
    max-height: 35px;
    font-size: 14px;
}
nav {
    background-color: #636363;
}
.fa{
    color:white;
}
a:hover{
    color: #ffbb33 !important;
}
.fa-question-circle-o{
  color:black;
}
.form-control{
    background-color:  #636363;
    border:none;
    font-size: 13px;
    width:200px;
    height:25px;
}
.form-control:focus{
    background-color: white;
}
.dropbtn {
    color: white;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
      margin-top:3px;
      margin-left:-180px;
    width:260px !important;
    display: none;
    position:absolute;
    background-color: #636363;
    z-index:1;
  }
  .dropdown-content a {
    color: white ;
    text-decoration: none;
    display: block;
    font-family:"Source Sans Pro" sans-serif;
    padding:10px 50px 10px 25px;
    font-size:13px;
  } 
   .dropdown-content a:hover {background-color: #484848;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #484848;}
  h6{
  font-family:"Source Sans Pro" sans-serif;
  font-size:14px;
  color:#AAAAAA;
  }
  h3{
    font-family:"Source Sans Pro" sans-serif;
  }
  hr{
   background-color:#AAAAAA;
   height:1px;
   border:none;
  }
.dropbtn1 {
    color: white;
    border: none;
  } 
  .dropdown1 {
    position: relative;
    display: inline-block;
  } 
  .dropdown-content1 {
     min-width:150px;
    display: none;
    position: absolute;
    margin-left:-80px;
    background-color: #636363;
    z-index:1;
  }
  .dropdown-content1 a {
    color: white ;
    text-decoration: none;
    display: block;
    font-family:"Source Sans Pro" sans-serif;
    text-align: right;
    padding:10px 10px 10px 30px; 
   font-size:14px;
  }
  .dropdown-content1 a:hover {background-color: #484848;}
  .dropdown1:hover .dropdown-content1 {display: block;}
  .dropdown1:hover .dropbtn1 {background-color: #484848;}
    .navbar-nav li {
      border-right: 1px solid #636363;
      }
      .navbar-nav li:last-child {
      border-right: none
      }
      p{
        color:#AAAAAA;
      }
.ra{
  color:#AAAAAA;
  padding-left:360px;
}
a{
  list-style:none;
  text-decoration: none;
}
 .modal-dialog{ 
  overflow-y: initial !important
}
.modal-body{
  height: 430px;
  overflow-y: auto;
}
.list-group-item{
  border:1px solid #AAAAAA;
}
h2 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 10px 20px 10px; 
}
h2 span { 
   background:#fff; 
   padding:0 10px; 
}
.dropdown-item:hover {
  color:#6699cc !important;
}
.accordion:hover{
  text-decoration: none;
  color:#6699cc !important;
}
