<app-index></app-index>
<div class="container-fluid hi py-3">
  <div id="accordion" class="accordion">
    <div class="card mb-0">
      <div class="card-header " data-toggle="collapse" href="#collapseOne">
        <a class="card-title"> Contact & Personal Information </a>
      </div>
      <div id="collapseOne" class="card-body collapse show" data-parent="#accordion">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Edit</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div id="home" class="container tab-pane active"><br>
            <div class="d-flex">
              <div class="ml-3 mt-3 row col-lg-5 card card1">
                <div class="card-body">

                  <form>
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-6 col-form-label text-right">UserID(Email)</label>
                      <div class="col-sm-6 ">
                        hospitals@vendormate.vdm
                   </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Salutation</label>
                      <div class="col-sm-6 pt-2">Mr
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">First Name</label>
                      <div class="col-sm-6 pt-2">Brain
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Middle Name
                       
                      </label>

                      <div class="col-sm-6 pt-2">No Middle Name
                      </div>
                    </div>

                  
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Last Name</label>
                      <div class="col-sm-6 pt-2">Administrator
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Title
                       
                      </label>
                      <div class="col-sm-6 pt-2">

                        No Title                      </div>
                    </div>

                   
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Work Phone
                      </label>

                      <div class="col-sm-6 pt-2">
                        404-920-3132                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-6 col-form-label text-right">Cell Phone</label>
                      <div class="col-sm-6 ">
                      </div>
                    </div>
                    
                  </form>

                </div>
              </div>

              <div class="ml-3 mt-3 row col-lg-5 card card1">
                <div class="card-body">
                  <form>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Fax</label>
                      <div class="col-sm-6 pt-2">404-920-3333
                      </div>
                    </div>            
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Default
                        Location/Facility</label>
                      <div class="col-sm-6 pt-2">Florida
                        
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Default Entry Point</label>
                      <div class="col-sm-6 pt-2">
                        Winter Park, FL
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Auto Print Badge
                      </label>
                      <div class="col-sm-6 mt-2">

yes                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Available for Appointment
                      </label>
                      <div class="col-sm-6 mt-2">yes
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">
                        Receive Email Upon Appointment Request
                      </label>
                      <div class="col-sm-6 mt-3">

yes                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-6 col-form-label text-right">
                        Receive Email Upon Appointment Sign In?
                      </label>
                      <div class="col-sm-6 mt-3">

yes                      </div>
                    </div>


                   
                  </form>

                </div>

              </div>
            </div>



          </div>
          <div id="menu1" class="container tab-pane fade"><br>
            <div class="d-flex">
              <div class="ml-3 mt-3 row col-lg-5 card card1">
                <div class="card-body">
                    
                      <form>
                        <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-6 col-form-label text-right">UserID(Email)</label>
                          <div class="col-sm-6 ">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="User ID(Email)">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Salutation</label>
                          <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Salutation">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword3" class="col-sm-6 col-form-label text-right">First Name</label>
                          <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="First Name">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Middle Name                       
                          <span  tooltip="Enter Users Middle Name" placement="bottom"><i  class="fa fa-question-circle" aria-hidden="true"></i></span>
                          </label>
    
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputPassword3" placeholder="Middle Name">
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label for="inputPassword3" class="col-sm-6 col-form-label text-right">No Middle Name                       
                          <span  tooltip="Enter Users Middle Name" placement="bottom"><i  class="fa fa-question-circle" aria-hidden="true"></i></span>
                          </label>
                          <div class="col-sm-6 mt-2">
    
                          <input type="checkbox">
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Last Name</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputPassword3" placeholder="Last Name">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Title                      
                          <span  tooltip="Enter Users Middle Name" placement="bottom"><i  class="fa fa-question-circle" aria-hidden="true"></i></span>
                          </label>
                          <div class="col-sm-6">
    
                            <input type="text" class="form-control" id="inputPassword3" placeholder="Title">
                          </div>
                        </div>
                           
                        <div class="form-group row">
                          <label for="inputPassword3" class="col-sm-6 col-form-label text-right">No Title                     
                          <span  tooltip="Enter Users Middle Name" placement="bottom"><i  class="fa fa-question-circle" aria-hidden="true"></i></span>
                          </label>
                          <div class="col-sm-6 mt-2">
    
                          <input type="checkbox">
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Work Phone                      
                          </label>
    
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputPassword3" placeholder="work phone">
                          </div>
                        </div>
                      
                      </form>    
                    
                  </div>
                </div>
              
                      <div class="ml-3 mt-3 row col-lg-5 card card1">
                        <div class="card-body">
                          <form>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-6 col-form-label text-right">Cell Phone</label>
                              <div class="col-sm-6 ">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Cell Phone">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Fax</label>
                              <div class="col-sm-6">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Fax">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Default Location/Facility</label>
                              <div class="col-sm-6">
                                <select name="cars" class="custom-select">
                                  <option selected></option>
                                  <option value="volvo">Volvo</option>
                                  <option value="fiat">Fiat</option>
                                  <option value="audi">Audi</option>
                                </select>
                                                        </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Default Entry Point</label>
                              <div class="col-sm-6">
                                <select name="cars" class="custom-select">
                                  <option selected></option>
                                  <option value="volvo">Volvo</option>
                                  <option value="fiat">Fiat</option>
                                  <option value="audi">Audi</option>
                                </select>
                                                        </div>
                            </div> 
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Auto Print Badge                      
                              </label>
                              <div class="col-sm-6 mt-2">
        
                              <input type="checkbox">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-6 col-form-label text-right">Available for Appointment                     
                              </label>
                              <div class="col-sm-6 mt-2">
        
                              <input type="checkbox">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-6 col-form-label text-right">
                                Receive Email Upon Appointment Request                     
                              </label>
                              <div class="col-sm-6 mt-3">
        
                              <input type="checkbox">
                              </div>
                            </div>
                           
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-6 col-form-label text-right">
                                Receive Email Upon Appointment Sign In?                     
                              </label>
                              <div class="col-sm-6 mt-3">
        
                              <input type="checkbox">
                              </div>
                            </div>
                           
    
                            <div class="d-flex justify-content-center mb-4">
                              <a href="#" class="btn btn-success  text-center">Save</a>
                            </div>
                          </form>    
        
                          </div>
                      
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>