.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right !important; 
}
.accordion .card-header.collapsed:after {
    content: "\f067"; 
}
.ml{
    margin-left:210px;
}