.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    content: "\f067"; 
}
a{
    text-decoration: none;
}
.modal-dialog {
    width: auto;
    max-width: 600px;
  }
  .modal-body{
      font-size: 14px;
  }
  .btn{
      height:35px;
  }
  .size{
    border:none;
    height:40px;
    width:40px;
    border-radius:5px;
}
.card1{
    width: 40%;
    height: 350px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 300px;
  }
thead th{
    font-size:13px;
    background-color: #BFCCD3;
}
tbody{
    font-size:13px;
}
tr:nth-child(even){
    background-color:white;
  }
tr:nth-child(odd){
      background-color: #f9f9f9;
  }
  footer{
    background-color:#636363;
  }